:root {
  --top-background-color: #F0F8FF;
}

#top {
  margin: auto -0.7% -0.7%;
  background-color: var(--top-background-color);
  height: 700px;
}

.mountain-line {
  stroke:rgb(255,0,0);
  stroke-width:1;
  fill: purple;
}

.triangle {
  position: absolute;
  bottom: 0vh;
	width: 0;
	height: 0;
	border-left: 4vw solid transparent;
	border-right: 4vw solid transparent;
	border-bottom: 7vw solid grey;
}
