:root {
  --top-background-color: #F0F8FF;
}

#top {
  /* overflow: hidden; */
  margin: auto -0.7% -0.7%;
  background-color: var(--top-background-color);
  height: 300vh;
}

.mountain-container {
  position: absolute;
}

.mountain-big {
  z-index: 12;
}

.mountain-line {
  stroke:rgb(255,0,0);
  stroke-width:0.5;
  fill: purple;
}



.hill1-container {
  position: absolute;
  overflow: hidden;
  top: 12vh;
  left: 35vw;
  width: 70vw;
  height: 20vh;
}

.hill1 {
  z-index: 10;
  position: relative;
  width: 170vw;
  height: 40vh;
  background: lime;
  border-radius: 50%;
  /* border-top-left-radius: 20%;
  border-top-right-radius: 10%; */
}

.hill2-container {
  z-index: 15;
  position: absolute;
  /* overflow: hidden; */
  top: 20vh;
  left: -40vw;
  width: 80vw;
  height: 20vh;
}

.hill2 {
  position: relative;
  width: 170vw;
  height: 20vh;
  background: darkgreen;
  /* border-top-left-radius: 20%; */
  border-top-right-radius: 80%;
}

.triangle {
  position: absolute;
  bottom: 0vh;
  width: 0;
  height: 0;
  border-left: 4vw solid transparent;
  border-right: 4vw solid transparent;
  border-bottom: 7vw solid grey;
}
