:root {
  --top-background-color: #F0F8FF;
  --wood-color: brown;
}

#top {
  /* overflow: hidden; */
  margin: auto -0.7% -0.7%;
  background-color: var(--top-background-color);
  height: 100vh;
}

.mountain-container {
  position: absolute;
}

.mountain-close {
  z-index: 12;
  fill: purple
}

.mountain-far {
  fill: pink;
}

.mountain-line {
  /* stroke:rgb(255,0,0); */
  stroke: transparent;
  stroke-width:0.5;
}



.hill1-container {
  position: absolute;
  overflow: hidden;
  top: 9vw;
  left: 35vw;
  width: 70vw;
  height: 15vw;
}

#hill1 {
  z-index: 10;
  position: relative;
  width: 170vw;
  height: 30vw;
  background: lime;
  border-radius: 50%;
  /* border-top-left-radius: 20%;
  border-top-right-radius: 10%; */
}

.hill2-container {
  z-index: 15;
  position: absolute;
  /* overflow: hidden; */
  top: 17vw;
  left: -40vw;
  width: 80vw;
  height: 10vw;
}

.hill2 {
  position: relative;
  width: 170vw;
  height: 10vw;
  background: darkgreen;
  /* border-top-left-radius: 20%; */
  border-top-right-radius: 80%;
}

.triangle {
  position: absolute;
  bottom: 0vh;
  width: 0;
  height: 0;
  border-left: 4vw solid transparent;
  border-right: 4vw solid transparent;
  border-bottom: 7vw solid grey;
}
