#orbit {

}

.satellite {
  animation: orbiter 30s linear infinite;
}


#rectangle-container {
  position: absolute;


  top: 40vh;
  left: 45vw;
}
#rectangle {
  width: 8vw;
  height: 6vw;
  background: red;
}



#circle-container {
  position: absolute;


  animation-delay: -6s;
  top: 40vh;
  left: 45vw;
}
#circle {
	width: 7vw;
	height: 7vw;
	background: green;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
}
/* use 50% as value */


#trianle-container {
  position: absolute;
  animation-delay: -12s;
  top: 40vh;
  left: 45vw;
}
#triangle {
	width: 0;
	height: 0;
	border-left: 4vw solid transparent;
	border-right: 4vw solid transparent;
	border-bottom: 7vw solid purple;
}


#diamond-container {
  position: absolute;
  animation-delay: -18s;
  top: 40vh;
  left: 45vw;
}

#diamond {
  width: 6.5vw;
  height: 6.5vw;
  transform: rotate(45deg);
  background-color: yellow;
}

/* #diamond {
	width: 0;
	height: 0;


  border-left: 5vw solid transparent;
	border-right: 5vw solid transparent;
	border-bottom: 5vw solid brown;


	/* border: 5vw solid transparent;
	border-bottom-color: brown;
	position: relative; */
/* }
#diamond:after {
	content: '';
	position: absolute;
	left: 0vw;
	top: 5vw;
	width: 0;
	height: 0;
	border: 5vw solid transparent;
	border-top-color: brown;
} */

.wave-container {
  position: absolute;
  width: 8vw;
  height: 6vw;
  background-color: tomato;
  overflow: hidden;




  animation-delay: -24s;
  top: 40vh;
  left: 45vw;

}
#wave-top{
  width: 8vw;
  height: 6vw;
  background: pink;
}




/* Orbit Practice */



@keyframes orbiter {
    0%  { transform: rotate(0deg) translateX(120%) translateY(240%) rotate(0deg) ; }
    25%  { transform: rotate(90deg) translateX(120%) translateY(240%) rotate(-90deg) ; }
    50%  { transform: rotate(180deg) translateX(120%) translateY(240%) rotate(-180deg) ; }
    75%  { transform: rotate(270deg) translateX(120%) translateY(240%) rotate(-270deg) ; }
    100%  { transform: rotate(360deg) translateX(120%) translateY(240%) rotate(-360deg) ; }}



/* 

    <div id="orbit">
      <div id="rectangle-container" class="satellite">
        <div id="rectangle"> </div>
      </div>
      <div id="circle-container" class="satellite">
        <div id="circle"> </div>
      </div>
      <div id="trianle-container" class="satellite">
        <div id="triangle"> </div>
      </div>

      <div class="wave-container satellite">
        <div id="wave-top"> </div>
        <div id="wave-bottom"> </div>
      </div>

      <div id="diamond-container" class="satellite">
        <div id="diamond"> </div>
      </div>
    </div> */
